.Button {
    background-color: none;
}

.table {
    width: 40% !important;
    margin: 0 auto !important;
  
}


.tableHeader {
    color: white;
    background-color: rgb(19, 53, 90);
    font-size: 60px;
}

.form {
    width: 25%;
    margin: 0 auto;
}
.formHeader {
    width: 25%;
    margin-top: 50px;
    background-color: darkgreen;
    color: white;
    
}

.formInput {
    margin-top: 20px;
}



.weather {
    align-self: flex-start;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}