.Button {
    background-color: none;
}

.table {
    width: 70%;
    margin: 0 auto;
}

.tableHeader {
    color: white;
    background-color: rgb(19, 53, 90);
    font-size: 60px;
}

.form {
    width: 25%;
    margin: 0 auto;
}

.formInput {
    margin-top: 20px;
}